* {
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: calc(13px + (22 - 16) * (100vw - 320px) / 1200);
  word-wrap: break-word;
  font-family: Inter;
  font-family: Josefin Sans;
}

li {
  list-style-type: var(--none);
}
.navbar {
  display: flex;
  font-family: Inter;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
a {
  text-decoration: none;
  color: black;
}
.menu {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  padding: 0;
  gap: 17px;
}

.menu_ {
  display: flex;
  width: 100rem;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 0%;
  gap: 17px;
}

/*responsive*/
#titlee {
  display: flex;
  letter-spacing: 6.99px;
  text-align: center;
  font-size: 3.125rem;
}

@media (max-width: 640px) {
  #titlee {
    font-size: 3rem;
  }

  .menu {
    font-size: 0.8rem;
  }
}
@media (max-width: 499px) {
  #titlee {
    font-size: 3rem;
  }

  .menu {
    font-size: 0.9rem;
  }
}

/*hero*/
.para {
  font-family: Josefin Sans;
  width: 100%;
  padding: 1.5rem;
  flex-wrap: wrap;
  font-weight: 280;
  font-size: 1.5rem;
}

h1 {
  width: 90%;
  text-align: left;
  font-size: 4rem;
  font-weight: 350;
}

.value {
  width: 100%;
  font-size: large;
}

input {
  width: 50%;
  height: 3rem;
}

button {
  font-family: Outfit;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 9px;
  color: #000;
  padding: 10px 30px;
  font-size: 16px;
  transition: background-color 90ms;
  cursor: pointer;
  height: 3rem;
  width: 10rem;
}

button:hover {
  background-color: rgb(255, 241, 246);
}
.value {
  width: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.product {
  padding: 1.5rem;
  width: 100%;
  height: 40rem;
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  } 
}

img {
  object-fit: cover;
  overflow: hidden;
}

.footer_container {
  /* adjust responsive footer */
  padding-top: 1rem;
  text-align: center;
}

/*responsive*/
@media (min-width: 695px) {
  .main {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }
  .para {
    width: 100%;
    font-size: 1.4rem;
  }

  h1 {
    width: 100%;
    font-size: 3rem;
  }
}

@media (min-width: 995px) {
  .para {
    width: 50%;
    font-size: 1.3rem;
  }
  h1 {
    width: 100%;
    font-size: 3rem;
  }
  .product {
    width: 100%;
  }
  button {
    width: 50%;
    
  }
}
